<div class="row">
<div class="posts list-group col-5">
  {{#each blogsPrint}}
  <div class = "card shadow-sm"></div>
      <span class="card-title">{{title}}</span>
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}"><button>Edit Blog</button>
    </a>
  {{/each}}
  <a href="/dashboard/new"><button>New Blog</button></a>
</div>
<div class="posts list-group col-5">
  {{#each commentsPrint}}
      <span>{{title}}</span>
      <span>{{body}}</span>
    {{!-- <a class="list-item flex-row justify-space-between" href="/dashboard/commentEdit/{{id}}"><button>Edit Comment</button>
    </a> --}}
  {{/each}}
</div>
</div>